/* Ajustes generales */
.navbar {
    padding: 1rem;
}

.navbar-brand img {
    width: 50px;
}

.searchContainer {
    margin-right: 10px;
}

/* Alineación de botones en desktop */
.desktopButtons .btn {
    margin-right: 8px;
}

/* Ajustes para dispositivos móviles */
.mobileButtons .mobileButton {
    width: 50% !important; /* Mantener un ancho del 50% */
    margin-bottom: 10px !important; /* Espaciado entre botones */
    background-color: skyblue !important; /* Color de fondo azul cielo */
    border: 2px solid darkblue !important; /* Borde oscuro */
    color: black !important; /* Color de texto negro */
    font-weight: bold !important; /* Texto en negrita para mayor énfasis */
    border-radius: 5px !important; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s, transform 0.2s !important; /* Transiciones suaves */
    padding: 10px !important; /* Padding para mayor área de clic */
}

/* Efecto al pasar el ratón */
.mobileButtons .mobileButton:hover {
    background-color: darkblue; /* Cambiar a un azul más oscuro al pasar el ratón */
    color: white; /* Cambiar el color del texto a blanco al pasar el ratón */
}

/* Efecto al hacer clic */
.mobileButtons .mobileButton:active {
    transform: scale(0.98); /* Efecto de pulsación al hacer clic */
}

/* Media query específica para pantallas menores a 405px */
@media (max-width: 416px) {
    .navbar {
        padding: 0.25rem;
    }

    .navbar-brand img {
        width: 35px;
        margin-left: -20px; /* Mueve el logo un poco a la izquierda */
    }

    .searchContainer {
        width: 60%; /* Limita el ancho del search bar en pantallas pequeñas */
        flex-grow: 0; /* Evita que el search bar crezca automáticamente */
        flex-shrink: 1; /* Permite que el search bar se reduzca si es necesario */
    }

    .mobileButtons .mobileButton {
        width: 90%;
    }

    .input-group-text i {
        font-size: 0.85rem;
    }
}

@media (max-width: 381px) {
    .navbar {
        padding: 0.25rem;
    }

    .navbar-brand img {
        width: 30px; /* Reducir el tamaño del logo aún más */
        margin-left: -20px; 
    }

    .searchContainer {
        width: 50%; /* Reducir más el ancho del search bar */
        flex-grow: 0;
        flex-shrink: 1;
    }

    .mobileButtons .mobileButton {
        width: 90%;
        font-size: 0.9rem; /* Ajustar el tamaño de los botones */
    }

    .input-group-text i {
        font-size: 0.75rem; /* Ajustar el tamaño del ícono de búsqueda */
    }
}
